# General
.vscode/
*.tmp
# Packer
packer/variables.json
# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
# Ansible
*.retry
ansible/*.log
ansible/.import_roles
credentials.yml
jdauphant.nginx
# Vagrant & molecule
.vagrant/
/*.log
*.pyc
.molecule
.cache
.pytest_cache
.venv
