[defaults]
deprecation_warnings=False
#default dynamic inventory
inventory = ./environments/test/gcp_inventory.py
roles_path = ./.import_roles:./roles
remote_user = appuser
private_key_file = ../../appuser
host_key_checking = False
retry_files_enabled = False # do not create retry files to avoud mess and breakage
vault_password_file = ../../vault.key

[diff]
always = True
context = 5
